* {
  margin: 0;
  padding: 0;
  color: #f2f1f0;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("src/shared/style/font/MontserratAlternates-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("src/shared/style/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
nav,
#p-header,
h2,
h3,
button,
#clock,
footer {
  font-family: "Montserrat Alternates", serif;
}

body {
  font-family: "Poppins", serif;
  font-size: 18px;
  background-color: #141414 !important;
}

tr:nth-child(odd) {
  background-color: rgba(2, 2, 2, 0.484) !important;
}

nav > #container-tabs > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav > #container-tabs > div > a {
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.sky-pulse {
  animation: heartbeat 2s infinite ease-in-out;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 15px #8b8c81;
  stroke-width: 100%;
}

#container-tabs a,
#container-tabs div {
  width: 100% !important;
}

#container-tabs {
  padding: 35px;
  gap: 30px;
}

#container-tabs svg {
  margin-right: 10px;
  width: 28px !important;
}
