* {
  margin: 0;
  padding: 0;
  color: #ECEFF4;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("src/shared/style/font/MontserratAlternates-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("src/shared/style/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
nav,
#p-header,
h2,
h3,
button,
#clock,
footer {
  font-family: "Montserrat Alternates", serif;
}

body {
  font-family: "Poppins", serif;
  font-size: 18px;
}

tr:nth-child(odd) {
  background-color: rgba(2, 2, 2, 0.484) !important;
}

#text-label {
  border-left: solid 1px white;
}

.weather-info > span, 
.weather-info > strong, 
.weather-info > img {
  display: flex;
  align-items: center;
}